
<div *ngIf="loaded">
  <div class="card m-3" *ngFor="let pokemon of pokemonList">
    <div class="card-body">
      <h5 class="card-title">
        <a class="link-underline link-underline-opacity-0" [routerLink]="['/pokemon', pokemon.id]">
          <img id="myImage" [src]="pokemon.imageIcon">#{{ pokemon.id}} - {{ pokemon.name }}
        </a>
      </h5>
      <p></p>
    </div>
  </div>
  <button *ngIf="offset > 1" class="btn m-3 btn-outline-dark">
    <a [routerLink]="['pokemon']" (click)="onClickBackButton()">Back</a>
  </button>
  <button class="btn m-3 btn-outline-dark">
    <a [routerLink]="['pokemon']" (click)="onClickNextButton()">Next</a>
  </button>
</div>
